body {
    margin: 40px;
    padding: 0;
    font-family: sans-serif;
  }

  .App {
    display: flex;
    align-items: center;
    justify-content: center;    
  }
  
.memberGrid{
  text-align: center;
}

  table {
    margin-bottom: 20px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }
  
  thead tr {
    background-color: #ddd;
    border-top: none;
    color: #000
  }

  tr {
    background-color: #ddd;
    border-top: 1px solid #666;
    color: #000
  }
  
  th,
  td {
    /* border: 1px solid #373737; */
    background-color: #fff;
    padding: 10px;
  }
  
  .reactable-page-button,
  .reactable-next-page,
  .reactable-previous-page {
    padding: 3px;
    margin: 4px;
    border: 1px solid cadetblue;
    border-radius: 5px;
    text-decoration: none;
    color: #373737;
    background-color: burlywood;
  }
  
  .reactable-current-page {
    background-color: #fff;
  }
  
  .griddle-settings-toggle {
    margin: 20px 0;
    padding: 8px;
    background-color: #373737;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    width: 20%;
  }
  
  .griddle-filter {
    margin: 20px 0;
    padding: 8px;
    background-color: #ddd;
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    /* //font-size: 20px; */
    outline: none;
    cursor: text;
    width: 20%;
    height: 30px;
  }
  
  .griddle-page-select,
  .griddle-next-button,
  .griddle-previous-button {
    padding: 5px;
    background-color: #ddd;
    color: #000;
/*     font-size: 20px; */
    outline: none;
    /* width: 10%; */
    margin: 5px;
  }

.griddle-container{
    border:1px solid #DDD;
  }
  
  .griddle .top-section{
    clear:both;
    display:table;
    width:100%;
  }
  
  .griddle .griddle-filter{
    float:left;
    width:50%;
    text-align:left;
    color:#222;
    min-height:1px;
  }
  
  .griddle .griddle-settings-toggle{
    float:left;
    width:50%;
    text-align:right;
  }
  
  .griddle .griddle-settings{
    background-color:#FFF;
    border:1px solid #DDD;
    color:#222;
    padding:10px;
    margin-bottom:10px;
  }
  
  .griddle .griddle-settings .griddle-columns{
    clear:both;
    display:table;
    width:100%;
    border-bottom:1px solid #EDEDED;
    margin-bottom:10px;
  }
  
  .griddle .griddle-settings .griddle-column-selection{
    float:left;
    width:20%;
  }
  .griddle table{
    width:100%;table-layout:fixed;
  }
  
  .griddle th{
    background-color:#EDEDEF;
    border:0px;
    border-bottom:1px solid #DDD;
    color:#222;
    padding:5px;
  }
  
  .griddle td{
    padding:5px;
    background-color:#FFF;
    border-top-color:#DDD;
    color:#222;
  }
  
  .griddle .footer-container{
    padding:0px;
    background-color:#EDEDED;
    border:0px;
    color:#222;
  }
  
  .griddle .griddle-previous, .griddle .griddle-page, .griddle .griddle-next{
    float:left;
    width:33%;
    min-height:1px;
    margin-top:5px;
  }
  
  .griddle .griddle-page{
    text-align:center;
  }
  
  .griddle .griddle-next{
    text-align:right;
  }